.container {
  margin-left: 5px;
  margin-top: 5px;
}

.titleWidget {
  font-family: "Segoe UI Light", "Helvetica Neue Light", "Segoe UI", "Helvetica Neue", "Trebuchet MS", Verdana;
  font-weight: lighter;
  font-size: 18px;
  text-align: left;
  padding-bottom: 10px;
}

.tittle2 {
  padding-top: 40px;
}

.homeWidget {
  padding-right: 20px;
}
