.documentosPendientes {
  border: 2px solid red;
  border-radius: 50px;
  background-color: red;
  font-weight: bold;
  font-size: medium;
  margin: 5pt;
  color: white;
}

.documentosPendientes-text {
  margin: 5px 15px 5px 20px;
}
