.zoom {
  max-height: 400px;
  object-fit: cover;
}

.badge {
  margin-right: 4px;
}

.info {
  width: 100%;
  margin-bottom: 30px;
}


.imageSize{
  font-size: small;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 20px;
  opacity: 0.8;
  color: #ff5722;
  height: fit-content;
  width: fit-content;

}